@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AI in Healthcare</h1>
    <p>Health care system faces challenges everyday addressing the concern of each patien and reducing the cost for healthcare.
    Artificial Intelligence in healthcare is a powerful tool capable of precision medicine guide, imaging, theraputic purposes,
    and <strong>achieving a incorporated AI augmented healthcare to achieve untold precision.</strong>.</p>
</div>
